<div class="main-image j_container">
    <div class="black-filter">
        <div class="audio_container">
            <div class="records_title">
              UPLOAD FILES
            </div>
            <div class="align_center">
                <%= render 'form' %> <br>
                <span class="j_btn j_btn_size" > 
                    <a href = '/' style=''>Back</a> 
                </span>
                
                <br><br>
            </div>
            
        </div>
    </div>
</div>

<div class="bottom-nav">
    
</div>