<div class="j_background_empty_img">
    <div class="black-filter">
        <video autoplay loop id='video-background' muted plays-inline>
            <source src="https://s3.ap-northeast-2.amazonaws.com/kwonyongil/uploads/maestro_login/short.mp4" type="video/mp4">
            <source src="https://s3.ap-northeast-2.amazonaws.com/kwonyongil/uploads/maestro_login/short.webm" type="video/webm">
            <source src="https://s3.ap-northeast-2.amazonaws.com/kwonyongil/uploads/maestro_login/short.ogg" type="video/ogg">
        </video>
    </div>
</div>


<div class="bottom-nav">
    
</div>


<!--<a class ="test1" href="speech/index">녹음파일 텍스트로 변환하기</a> <br>-->
        <!--<a class ="test1" href="speech/record">녹음하기</a> <br>  -->
        <!--<a class ="test1" href="../audios/new">녹음파일 업로드</a> <br>-->
        <!--<a class ="test1" href="../audios">녹음파일 보기</a> <br>-->
        
<style>
    .test1{
        font-size:70px;
    }
    
</style>