<div class="main-image j_container">
    <div class="black-filter">
        <div class="audio_container">
            <div class="records_title">
              SPEECH TO TEXT
            </div>
            <div class="align_center">
                <%= render 'form' %> <br>
                <br><br>
            </div>
            
        </div>
    </div>
</div>

<div class="bottom-nav">
    
</div>